@font-face {
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: normal;
    src: url("../font/FontsFree-Net-BasisGrotesquePro-Regular.ttf");
  }
  
  @font-face {
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: bold;
    src: url("../font/FontsFree-Net-BasisGrotesquePro-Bold.ttf");
  }
  
  @font-face {
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: lighter;
    src: url("../font/FontsFree-Net-BasisGrotesquePro-Light.ttf");
  }
  
  @font-face {
    font-family: "Recoleta";
    font-style: normal;
    font-weight: normal;
    src: url("../font/Recoleta-RegularDEMO.otf");
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  body{
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #141414;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: "Recoleta";
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #141414;
}

.a{
    width: 100%;
    background-color: rgb(215, 215, 215);
}
.a_home{
    width: 100%;
    padding: 8% 0% 0% 5%
}
.a_title{
    margin: 5% 0% 0% 5%;
    padding-right: 40%;
    font-family: "Recoleta";
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #141414;
}
.a_content{
    width: 80%;
    margin: 5% 0% 0% 5%;
    display: flex;
    justify-content: space-around;
}

.contenta{
    width: 20%;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
}
.contenta a{
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
}
.image{
    width: 15%;
}

.a_image{
    width: 100%;
    height: 200px;
    background-image: url(../images/expertise-rips.png.webp);
}

.b{
    width: 100%;
    background-color: rgb(254, 254, 254);
}
.b_title{
    margin: 0% 0% 5% 40%;
    font-family: "Recoleta";
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #141414;
}
.b_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contentb{
    width: 20%;
    padding: 2%;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    border-right: 0.0667px solid rgb(157, 152, 152);
}
.contentb:nth-child(4){
    border: 0;
}

.c{
    width: 100%;
    background-color: rgb(254, 254, 254);
}

.c_title{
    margin: 5% 0% 0% 35%;
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #141414;
}
.c_image{
    display: grid;
    grid-template-columns:30% 30% 30% 30%;
    grid-template-rows: 50% 50% 50%;
    margin: 8%;
}

@media (max-width: 768px) {
    *{
        max-width: 100vh;
    }
    
    .b_content{
        display: block;
    }
    .contentb{
        width: 100%;
        border-right: 0;
        border-bottom: 0.0667px solid gray;
    }
    .contentb:nth-child(4){
        border: 0;
    }
    .c_image{
        display: grid;
        grid-template-columns:30% 30% 30%;
        grid-template-rows: 50% 50% 50% 50%;
        margin: 8%;
    }
}